<div id="console">
    <div class="container">
        <div class="console-release m-1">
            <div class="console-release-title">
                <a id="emojiSearchToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                    <ngx-emoji class="pr-1" [emoji]="release.emojiId" set="apple"></ngx-emoji>
                </a>
                <div class="dropdown-menu" aria-labelledby="emojiSearchToggle">
                    <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
                </div>
                <span *ngIf="!checkEditReleaseVersion;else editReleaseVersionInputTemp">
                    {{ release.version }}
                </span>
                <ng-template #editReleaseVersionInputTemp>
                    <input
                        (blur)="editReleaseVersion($event)"
                        (keyup.enter)="editReleaseVersion($event)"
                        #editReleaseVersionInput
                        type="text"
                        placeholder="{{ release.version }}"
                    />
                </ng-template>
                <a href="#" (click)="editReleaseVersion($event)">
                    <fa-icon
                        [icon]="editReleaseVersionTitle"
                        transform="shrink-7 left-8"
                    ></fa-icon>
                </a>
                <span [ngClass]="{ 'updated-toast-show': releaseUpdatedToast }" class="alert-success updated-toast" >
                    Updated!
                </span>
            </div>
            <div class="d-flex align-items-start">
                <div class="console-release-description flex-grow-1">
                    <textarea
                        [(ngModel)]="textareaCharacter"
                        name=""
                        id=""
                        cols="30"
                        rows="10"
                    >
 {{ release.description }} </textarea
                    >
                    <div class="d-flex justify-content-between">
                        <span
                            [ngClass]="
                                textareaCharacter.length > 250
                                    ? 'text-danger'
                                    : ''
                            "
                        >
                            {{ textareaCharacter.length }}/250</span
                        >
                        <button
                            type="button"
                            class="btn btn-gradient-primary btn-footer mx-4"
                            (click)="updateRelease();"
                        >
                            Update
                        </button>
                    </div>
                </div>
                <div
                    class="
                        console-release-embed
                        d-flex
                        flex-column
                        justify-content-center
                        align-items-center
                        mx-4
                    "
                >
                    <app-button-action [type]="'big'" [actionData]="addActionData" ></app-button-action>
                </div>
            </div>
        </div>
        <div *ngIf="features$ | async as features"  class="console-commits m-1">
            <h2 class="console-commits-title">Commits</h2>
            <div
                class="console-commits-container d-flex align-items-center mb-4"
                *ngFor="let feature of features, index as i"
            >
                <div class="commits-feature">
                    <span class="commits-feature-title dropdown-toggle m-4"
                        >{{ feature.tag }}</span
                    >
                </div >
                <div class="commits-description flex-grow-1 card m-2 mt-3">
                    <div class="card-body">
                        {{ feature.description }}
                    </div>
                </div>
                <div>

                </div>
                <app-button-action [type]="'big'" [actionData]="featureActions[i]" ></app-button-action>
            </div>
            <button
                type="button"
                class="
                    btn btn-brand-primary btn-commit
                    rounded-0
                    d-flex
                    justify-content-center
                    align-items-center
                    w-100
                "

                (click)="addFeature();"
            >
                <fa-icon [icon]="addCommit"></fa-icon>
            </button>
        </div>
    </div>
</div>
