<div id="add-action" class="d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-body">
            <h1>Select Action</h1>
            <div class="form-group">
                <div class="form-group">
                    <select
                        #actionType
                        [(ngModel)]="actionTypeCheck"
                        (change)="resetData()"
                        class="custom-select"
                    >
                        <option selected value="video">Play video</option>
                        <option value="link">Link</option>
                        <option value="file">File</option>
                        <option value="gallery">Gallery</option>
                        <option value="uploadVideo">UploadVideo</option>
                    </select>
                </div>
                <ng-container *ngIf="actionTypeCheck == 'video'">
                    <div class="form-group">
                        <label for="videoProvier">Select video provider</label>
                        <select
                            #videoProvier
                            id="videoProvier"
                            [(ngModel)]="videoProvierCheck"
                            (change)="resetData()"
                            class="custom-select"
                        >
                            <option selected value="vimeo">Vimeo</option>
                            <option value="youtube">Youtube</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input
                            #searchVideo
                            type="text"
                            class="form-control"
                            placeholder="Search Video"
                        />
                    </div>
                    <div
                        *ngIf="videoListExist"
                        class="video-list d-flex flex-column"
                    >
                    <p-paginator  [rows]="10" [totalRecords]="videoList.total > 10000 ? 400 * 10 : videoList.total" (onPageChange)="paginate($event)"></p-paginator>
                        <ng-container *ngIf="!searchingActive">
                            <div class="d-flex flex-wrap">
                                <div
                                (click)="selectVideo(video.link)"
                                class="video m-2 d-flex flex-column text-center"
                                *ngFor="let video of videoList.data"
                            >
                                <span class="video-title">{{
                                    video.name
                                }}</span>
                                <div class="video-thumbnail">
                                    <img
                                        src="{{
                                            video.pictures.sizes[2]
                                                .link
                                        }}"
                                        alt="{{ video.name }}"
                                    />
                                </div>
                            </div>
                            </div>
                        </ng-container>
                        <div
                            *ngIf="searchingActive"
                            class="w-100 h-100 d-flex justify-content-center align-items-center"
                        >
                            <div
                                class="spinner-border"
                                style="width: 3rem; height: 3rem"
                                role="status"
                            >
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input
                            #searchVideo
                            type="text"
                            [(ngModel)]="link"
                            class="form-control"
                            placeholder="Video Link"
                        />
                    </div>
                    <span>start on: </span>
                    <div class="form-group d-flex">
                        <div class="form-group mr-2">
                            <label for="hour">Hour:</label>
                            <select
                                #actionType
                                name="hour"
                                [(ngModel)]="hour"
                                class="custom-select"
                            >
                                <option
                                    *ngFor="let selectHour of hours; index as i"
                                    value="{{ selectHour }}"
                                >
                                    {{ selectHour }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group mx-2">
                            <label for="minute">Minute:</label>
                            <select
                                #actionType
                                name="minute"
                                [(ngModel)]="minute"
                                class="custom-select"
                            >
                                <option
                                    *ngFor="let selectMinute of minutes"
                                    value="{{ selectMinute }}"
                                >
                                    {{ selectMinute }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group ml-2">
                            <label for="second">Second:</label>
                            <select
                                #actionType
                                name="second"
                                [(ngModel)]="second"
                                class="custom-select"
                            >
                                <option
                                    *ngFor="let selectSecond of seconds"
                                    value="{{ selectSecond }}"
                                >
                                    {{ selectSecond }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <input
                            type="checkbox"
                            [(ngModel)]="autoPlay"
                            class="form-check-input"
                            id="autoplayCheckbox"
                        />
                        <label class="form-check-label" for="autoplayCheckbox"
                            >Autoplay</label
                        >
                    </div>
                    <div class="form-check">
                        <input
                            type="checkbox"
                            [(ngModel)]="muted"
                            class="form-check-input"
                            id="mutedCheckbox"
                        />
                        <label class="form-check-label" for="mutedCheckbox"
                            >Muted</label
                        >
                    </div>
                </ng-container>
                <ng-container *ngIf="actionTypeCheck == 'link'">
                    <div class="form-group">
                        <input
                            type="text"
                            [(ngModel)]="link"
                            class="form-control"
                            placeholder="Url Link"
                        />
                    </div>
                </ng-container>
                <ng-container *ngIf="actionTypeCheck == 'uploadVideo'">
                    <ng-container *ngIf="vimeoLogin">
                        <div class="form-group">
                            <label for="videoProvier"
                                >Select video provider</label
                            >
                            <select
                                #videoProvier
                                id="videoProvier"
                                [(ngModel)]="videoProvierCheck"
                                (change)="resetData()"
                                class="custom-select"
                            >
                                <option selected value="vimeo">Vimeo</option>
                                <option value="youtube">Youtube</option>
                            </select>

                            <div [innerHTML]="uploadForm"></div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!vimeoLogin">
                        <div class="d-flex flex-column">
                            <h5 class="mb-2">
                                You need integrate Vimeo to Chagger first!
                            </h5>
                            <a
                                (click)="closeAddAction()"
                                [routerLink]="[
                                    '/workspaces',
                                    workspaceId,
                                    'integrations'
                                ]"
                                class="btn btn-primary"
                                >Integrate Now</a
                            >
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="actionTypeCheck == 'file'">
                    <div class="form-group">
                        <input type="file" #fileInput accept=".pdf, .zip" />
                    </div>
                    <p>
                        <ngb-progressbar
                            type="info"
                            [value]="uploadPercent"
                            [striped]="true"
                            [animated]="true"
                            ><i>{{ uploadPercent }}%</i></ngb-progressbar
                        >
                    </p>
                </ng-container>
                <ng-container *ngIf="actionTypeCheck == 'gallery'">
                    <p-fileUpload
                        #fileuploader
                        name="myfile[]"
                        [multiple]="true"
                        accept="image/*"
                        [maxFileSize]="10000000"
                        [customUpload]="true"
                        [showUploadButton]="false"
                        (onSelect)="updateSelectedFiles($event)"
                        (onProgress)="progressReport($event)"
                    ></p-fileUpload>
                    <ngb-progressbar
                        type="info"
                        [value]="uploadFilesPercent"
                        [striped]="true"
                        [animated]="true"
                        ><i>{{ uploadFilesPercent }}%</i></ngb-progressbar
                    >
                </ng-container>
            </div>
        </div>
        <div class="card-footer">
            <button
                type="submit"
                (click)="closeAddAction()"
                class="btn btn-primary float-left"
            >
                {{
                    uploadPercent == 100 || uploadFilesPercent == 100
                        ? "Close"
                        : "Cancel"
                }}
            </button>
            <button
                *ngIf="!(uploadPercent == 100 || uploadFilesPercent == 100)"
                type="submit"
                (click)="returnAction($event)"
                class="btn btn-primary float-right"
            >
                {{
                    actionTypeCheck == "file" || actionTypeCheck == "gallery"
                        ? "Upload"
                        : "Save Changes"
                }}
            </button>
        </div>
    </div>
</div>
