<div class="console">
    <div class="row w-100 pl-5 pt-5">
        <div id="main-bar" class="col-lg-2 d-flex flex-column">
            <div class="main-bar-header">
                <div class="d-flex justify-content-around align-items-center">
                    <div class="navbar-brand d-flex align-items-center">
                        <img
                            class="m-2"
                            src="../../../../assets/img/git-icon.png"
                            alt="Logo"
                        />
                        <span class="font-weight-bold bar-header-tittle"
                            >Chagger</span
                        >
                    </div>
                    <div class="dropdown">
                        <a
                            class="btn-profile rounded-radius"
                            type="button"
                            id="profile-dropdown"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            <img
                                src="https://icons-for-free.com/iconfiles/png/512/business+casual+corporate+lawyer+insurer+man+person+profile-1320086653571371140.png"
                                alt=""
                            />
                        </a>
                        <div
                            class="dropdown-menu"
                            aria-labelledby="profile-dropdown"
                        >
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a
                                class="dropdown-item"
                                (click)="onLogOut()"
                                href="#"
                                >Sign Out!</a
                            >
                        </div>
                    </div>
                </div>
                <input
                    class="form-control"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                />
            </div>
            <div class="main-bar-body m-4">
                <ul class="bar-body-container">
                    <li
                        *ngFor="let workspace of consoleWorkspaces; index as i"
                        class="workspace"
                    >
                        <a
                            href="#"
                            class="title"
                            (click)="workspaceClick(i, $event)"
                            ><span class="dropdown-toggle">{{
                                consoleWorkspaces[i].name | titlecase
                            }}</span></a
                        >
                        <ul *ngIf="consoleWorkspaces[i].toggle" class="m-2">
                            <li>
                                <fa-icon [icon]="releaseFolder"></fa-icon>
                                <a
                                    href="#releaseMenu"
                                    (click)="$event.preventDefault()"
                                    data-toggle="collapse"
                                    role="button"
                                    aria-expanded="false"
                                    aria-controls="releaseMenu"
                                    class="release-title dropdown-toggle ml-2"
                                    >Releases</a
                                >
                                <ul
                                    class="collapse release-status m-1 ml-2"
                                    id="releaseMenu"
                                >
                                    <li class="ml-4">
                                        <a href="#" (click)="releaseBar($event)"
                                            >Active</a
                                        >
                                    </li>
                                    <li class="ml-4">archived</li>
                                </ul>
                            </li>
                            <li>
                                <fa-icon [icon]="testIcon"></fa-icon>
                                Tags
                            </li>
                            <li>
                                <fa-icon [icon]="testIcon"></fa-icon>
                                Users
                            </li>
                            <li>
                                <fa-icon [icon]="testIcon"></fa-icon>
                                Integrations
                            </li>
                            <li>
                                <fa-icon [icon]="testIcon"></fa-icon>
                                Google Analytics
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a
                            href="#"
                            *ngIf="!addWorkspace; else addWorkspaceInputTemp"
                            (click)="newWorkspace($event)"
                            >New Workspace +</a
                        >
                        <ng-template #addWorkspaceInputTemp>
                            <input
                                (blur)="newWorkspace($event)"
                                (keyup.enter)="newWorkspace($event)"
                                #addWorkspaceInput
                                type="text"
                                placeholder="Workspace name?"
                            />
                        </ng-template>
                    </li>
                </ul>
            </div>
            <div class="main-bar-footer d-flex align-items-end flex-grow-1">
                <button
                    type="button"
                    class="btn btn-gradient-primary btn-footer mx-4"
                >
                    Share ChangeLog
                </button>
            </div>
        </div>
        <div *ngIf="releaseBarActive" id="release-bar" class="col-lg-2">
            <div class="d-flex flex-column h-100">
                <div class="release-bar-header text-center p-2 mt-4">
                    <h1 class="bar-header-title">Active Releases</h1>
                </div>
                <div class="release-bar-body">
                    <ul class="text-center">
                        <li
                            *ngFor="let release of consoleReleases, index as i"
                            class="
                                release-version release-version-active
                                d-flex
                                justify-content-between
                                px-2
                            "
                        >
                            <div class="release-version-title d-flex">
                                <fa-icon
                                    class="pr-1"
                                    [icon]="releasesVersion"
                                ></fa-icon>
                                
                                <span *ngIf="!editRelease[i]; else editReleaseVersionInputTemp">
                                    {{ release.version }}
                                </span>
                                <ng-template #editReleaseVersionInputTemp>
                                    <input
                                        (blur)="editReleaseVersion($event, i)"
                                        (keyup.enter)="editReleaseVersion($event, i)"
                                        #editReleaseVersionInput
                                        type="text"
                                        placeholder="{{ release.version }}"
                                    />
                                </ng-template>
                            </div>
                            <div class="dropdown show">
                                <a
                                    href="#"
                                    role="button"
                                    id="releaseDropdownMenu"
                                    class="release-version-menu"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    ...
                                </a>

                                <div
                                    class="dropdown-menu"
                                    aria-labelledby="releaseDropdownMenu"
                                >
                                    <a
                                        class="dropdown-item"
                                        href="#"
                                        (click)="editReleaseVersion($event, i)"
                                        >Edit</a
                                    >
                                    <a class="dropdown-item" href="#" (click)="deleteRelease($event, i)" >Delete</a>
                                </div>
                            </div>
                        </li>
                        <li class="release-title">
                            <a
                                href="#"
                                *ngIf="!addRelease; else addReleaseInputTemp"
                                (click)="newRelease($event)"
                                >New Release +</a
                            >
                            <ng-template #addReleaseInputTemp>
                                <input
                                    (blur)="newRelease($event)"
                                    (keyup.enter)="newRelease($event)"
                                    #addReleaseInput
                                    type="text"
                                    placeholder="release name?"
                                />
                            </ng-template>
                        </li>
                    </ul>
                </div>
                <div
                    class="
                        release-bar-footer
                        d-flex
                        align-items-end
                        flex-grow-1
                    "
                >
                    <button
                        type="button"
                        class="btn btn-gradient-primary btn-footer mx-4"
                    >
                        New Release
                    </button>
                </div>
            </div>
        </div>
        <div id="console" class="col-lg-8">
            <div class="container">
                <div class="console-release m-5">
                    <div class="console-release-title">
                        <fa-icon class="pr-3" [icon]="releasesVersion"></fa-icon>
                        <span>0.2.1</span>
                    </div>
                    <div class="d-flex align-items-start">
                        <div class="console-release-description flex-grow-1">
                            <textarea name="" id="" cols="30" rows="10">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus animi sapiente perferendis expedita odio est sunt, quod rem, dolores non quia illo ipsa maiores, eligendi sed accusamus ipsum vel dolorem.
                            </textarea>
                            <span>x/x</span>
                        </div>
                        <div
                            class="
                                console-release-embed
                                d-flex
                                flex-column
                                justify-content-center
                                align-items-center
                                mx-4
                            "
                        >
                            <div
                                class="
                                    embed-content
                                    d-flex
                                    flex-column
                                    justify-content-center
                                    align-items-center
                                "
                            >
                                <fa-icon [icon]="actionPlay"></fa-icon>
                                <span>Video</span>
                            </div>
                            <span>Change</span>
                        </div>
                    </div>
                </div>
                <div class="console-commits m-5">
                    <h2 class="console-commits-title">Commits</h2>
                    <div
                        class="
                            console-commits-container
                            d-flex
                            align-items-center
                            mb-4
                        "
                    >
                        <div class="commits-feature flex-grow-1">
                            <span
                                class="
                                    commits-feature-title
                                    dropdown-toggle
                                    m-4
                                "
                                >Feature</span
                            >
                        </div>
                        <div
                            class="
                                console-commits-embed
                                d-flex
                                flex-column
                                justify-content-center
                                align-items-center
                            "
                        >
                            <div
                                class="
                                    embed-content
                                    d-flex
                                    flex-column
                                    justify-content-center
                                    align-items-center
                                "
                            >
                                <fa-icon [icon]="actionPlay"></fa-icon>
                                <span>Add Action</span>
                            </div>
                        </div>
                    </div>
                    <div
                        class="
                            console-commits-container
                            d-flex
                            align-items-center
                            mb-4
                        "
                    >
                        <div class="commits-feature flex-grow-1">
                            <span
                                class="
                                    commits-feature-title
                                    dropdown-toggle
                                    m-4
                                "
                                >Feature</span
                            >
                        </div>
                        <div
                            class="
                                console-commits-embed
                                d-flex
                                flex-column
                                justify-content-center
                                align-items-center
                            "
                        >
                            <div
                                class="
                                    embed-content
                                    d-flex
                                    flex-column
                                    justify-content-center
                                    align-items-center
                                "
                            >
                                <fa-icon [icon]="actionPlay"></fa-icon>
                                <span>Add Action</span>
                            </div>
                        </div>
                    </div>
                    <div
                        class="
                            console-commits-container
                            d-flex
                            align-items-center
                            mb-4
                        "
                    >
                        <div class="commits-feature flex-grow-1">
                            <span
                                class="
                                    commits-feature-title
                                    dropdown-toggle
                                    m-4
                                "
                                >Feature</span
                            >
                        </div>
                        <div
                            class="
                                console-commits-embed
                                d-flex
                                flex-column
                                justify-content-center
                                align-items-center
                            "
                        >
                            <div
                                class="
                                    embed-content
                                    d-flex
                                    flex-column
                                    justify-content-center
                                    align-items-center
                                "
                            >
                                <fa-icon [icon]="actionPlay"></fa-icon>
                                <span>Add Action</span>
                            </div>
                        </div>
                    </div>
                    <button
                        type="button"
                        class="
                            btn btn-brand-primary btn-commit
                            rounded-0
                            d-flex
                            justify-content-center
                            align-items-center
                            w-100
                        "
                    >
                        <fa-icon [icon]="addCommit"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
