<div
    id="chagger-player"
    class="d-flex align-items-center justify-content-center"
>
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="player-title">{{ videoTitle }}</h1>
                <div class="d-flex video-controls">
                    <a (click)="playVideoPlayer( $event );" class="mx-1" href="#">
                        <fa-icon [icon]="playVideo"></fa-icon>
                    </a>
                    <a (click)="pauseVideoPlayer( $event );" class="mx-1" href="#">
                        <fa-icon [icon]="pauseVideo"></fa-icon>
                    </a>
                    <a (click)="closeVideoPlayer( $event );" class="mx-1" href="#">
                        <fa-icon [icon]="closeVideo"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <video
                #videoPlayer
                class="video-js vjs-default-skin"
                controls
                width="640"
                height="264"
                data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=xjS6SftYQaQ"}] }'
            ></video>
        </div>
    </div>
</div>
