<ng-container *ngIf="action.type == 'link'; else videoAction">
    <div>
        <a
            [ngClass]="{
                'buttom-big': bigButton,
                'buttom-small': smallButton
            }"
            class="px-2"
            href="#"
            (click)="!develop ? openLink($event) : callAddAction($event)"
        >
            <fa-icon [icon]="actionLink"></fa-icon>
            <span class="px-2">Link</span>
        </a>
    </div></ng-container
>

<ng-template #videoAction>
    <ng-container *ngIf="action.type == 'video'; else fileAction">
        <div>
            <a
                [ngClass]="{
                    'buttom-big': bigButton,
                    'buttom-small': smallButton
                }"
                class="px-2"
                href="#"
                (click)="!develop ? playVideoAction($event) : callAddAction($event)"
            >
                <fa-icon [icon]="actionPlay"></fa-icon>
                <span class="px-2">Video</span>
            </a>
        </div>
    </ng-container>
</ng-template>

<ng-template #fileAction>
    <ng-container *ngIf="action.type == 'file'; else galleryAction">
        <div>
            <a
                [ngClass]="{
                    'buttom-big': bigButton,
                    'buttom-small': smallButton
                }"
                class="px-2"
                href="#"
                (click)="!develop ? downloadAction($event, action.fileRef) : callAddAction($event)"
            >
                <fa-icon [icon]="actionDownload"></fa-icon>
                <span class="px-2">Download</span>
            </a>
        </div>
    </ng-container>
</ng-template>

<ng-template #galleryAction>
    <ng-container *ngIf="action.type == 'gallery'; else addAction">
        <div>
            <a
                [ngClass]="{
                    'buttom-big': bigButton,
                    'buttom-small': smallButton
                }"
                class="px-2"
                href="#"
                (click)="!develop ? showGallery($event, action.filesPath) : callAddAction($event)"
            >
                <fa-icon [icon]="galleryImages"></fa-icon>
                <span class="px-2">Gallery</span>
            </a>
        </div>
    </ng-container>
</ng-template>

<ng-template #addAction>
    <div>
        <a
            [ngClass]="{
                'buttom-big': bigButton,
                'buttom-small': smallButton
            }"
            class="px-2"
            href="#"
            (click)="callAddAction($event)"
            target="_blank"
        >
            <fa-icon [icon]="addNewAction"></fa-icon>
            <span>Add Action</span>
        </a>
    </div>
</ng-template>
