<div class="d-flex h-100">
    <div id="tags-bar">
        <div class="d-flex flex-column h-100">
            <div class="tags-bar-header text-center p-2 mt-4">
                <h1 class="bar-header-title">Tags</h1>
            </div>
            <div class="tags-bar-body">
                <ul *ngIf="tags$ | async as tags" class="text-center p-0">
                    <li
                        *ngFor="let tag of tags; index as i"
                        class="tags-version tags-version-active d-flex justify-content-between"
                    >
                        <div class="tags-version-title d-flex align-items align-items-center">
                            <app-emoji-picker
                            class="mx-1"
                                (setEmoji)="addEmoji($event, i)"
                                [selectedEmoji]="tag.emojiId"
                            ></app-emoji-picker>

                            <span *ngIf="!editTag[i]; else editTagInputTemp">
                                {{ tag.name }}
                            </span>

                            <div [style.background-color]="tag.color" class="palette-color-block mr-1 ml-2" ></div>
                            <div class="mx-1" ngbDropdown>
                                <a
                                    href="#"
                                    class="color-picker"
                                    ngbDropdownToggle
                                    (click)="$event.preventDefault()"
                                >
                                    <fa-icon
                                            [icon]="pickColor"
                                            transform="shrink-2"
                                        ></fa-icon>
                                </a>
                                <div
                                    ngbDropdownMenu
                                    aria-labelledby="pickTagColor"
                                >
                                    <div class="color-picker-body">
                                        <span>Pick a color</span>
                                        <ul class="p-0">
                                            <li
                                                *ngFor="
                                                    let color of paletteColors
                                                "
                                            >
                                                <a
                                                    href="#"
                                                    (click)="
                                                        pickTagColor($event, color.color, i);
                                                    "
                                                    class="d-flex align-items-center"
                                                >
                                                    <div
                                                        [style.background-color]="
                                                            color.color
                                                        "
                                                        class="palette-color-block mx-2"
                                                    ></div>
                                                    {{ color.name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <ng-template #editTagInputTemp>
                                <input
                                    (blur)="editTagName($event, i)"
                                    (keyup.enter)="editTagName($event, i)"
                                    #editTagInput
                                    type="text"
                                    placeholder="{{ tag.name }}"
                                />
                            </ng-template>
                        </div>
                        <div class="dropdown show">
                            <a
                                href="#"
                                role="button"
                                id="tagDropdownMenu"
                                class="tags-version-menu"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                ...
                            </a>

                            <div
                                class="dropdown-menu"
                                aria-labelledby="tagDropdownMenu"
                            >
                                <a
                                    class="dropdown-item"
                                    href="#"
                                    (click)="editTagName($event, i)"
                                    >Edit</a
                                >
                                <a
                                    class="dropdown-item"
                                    href="#"
                                    (click)="deleteTag($event, i)"
                                    >Delete</a
                                >
                            </div>
                        </div>
                    </li>
                    <li class="tags-title">
                        <a
                            href="#"
                            *ngIf="!addTag; else addTagInputTemp"
                            (click)="newTag($event)"
                            >New Tag +</a
                        >
                        <ng-template #addTagInputTemp>
                            <input
                                (blur)="newTag($event)"
                                (keyup.enter)="newTag($event)"
                                #addTagInput
                                type="text"
                                placeholder="Tag name?"
                            />
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
